@import "./jsClasses";

$font-a: 'Playfair Display', serif;
$font-b: 'Roboto Condensed', sans-serif;

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height:100svh;
    background-color: var(--bg);
    color: var(--text);
    position:relative;

    #dark-mode__btn{
        width:3rem;
        height:3rem;
        position:absolute;
        top:2rem;
        right:2rem;
        border:solid 3px var(--text);
        color:var(--text);
        border-radius: 50%;
        background:none;
        outline:none;
        font-size: 2rem;
        z-index:2;
    }

    button:hover{
        cursor: pointer;
    }
}

#start-area{
    width:100%;
    height:100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;

    h1{
        font-family: $font-a;
        font-size: 8rem;
        color:var(--h1);
    }

    #start-game__btn{
        padding:1rem;
        font-size: 5rem;
        border-radius:1rem;
        border:none;
        background:none;
        outline:none;
        color:var(--text);
    }
}

#game-area{
    position:relative;
    font-family: $font-b;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem;

    #question{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2rem;

        img{
            width:30%;
            border-radius:0.3rem;
        }

        p{
            width:100%;
            text-align: center;
            font-size:3rem;
        }
    }

    #answer{
        width:100%;
        font-size: 1.5rem;

        .answer-alternatives{
            width:80%;
            display:flex;
            align-items: center;
            justify-content: center;
            margin:0 auto;
            padding:2rem;
            color:var(--text);

            input{
                display:none;
                &:checked + label {
                    background-color: var(--c2);
                 }
            }
            
            label{
                padding:0.5rem 1rem;
                border:solid 3px var(--text);
                border-radius: 0.3rem;
                margin:0rem 1rem;
                cursor: pointer;

                &:hover{
                    background-color: var(--c2);
                    transform:scale(0.98);
                }
            }
        }
    }

    #commit-answer__btn{
        margin:0 auto;
        width:20%;
        background:none;
        border:none;
        outline:none;
        border:solid 3px var(--text);
        border-radius: 0.3rem;
        font-size: 1.5rem;
        padding:0.5rem 1rem;
        color:var(--text);
        background-color: var(--c3);

        &:hover{
            transform:scale(0.99);
        }
    }

    #reset-game__btn{
        position:absolute;
        bottom:2rem;
        right:2rem;
        color:var(--text);
        background:none;
        border:none;
        outline:none;
        font-size: 2rem;
        z-index:2;
    }
}

#message-display{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:3;
    height: 50%;
    width: 50%;
    color:white;

    h2{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family:$font-a;
        font-size: 6rem;
        background-color: var(--bg);
        border-radius: 0.3rem;
        border:solid 3px var(--text);
        color: var(--text);
        padding:1rem;
        white-space: nowrap;
    }
}

#result-display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:3;
    height: 95%;
    width: 80%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding:2rem;
    border-radius: 0.3rem;
    border: solid 3px var(--text);
    background-color:var(--bg);

    ul{
        list-style-type: none;
        height:100%;
        text-align: center;
        font-size: 2rem;
        font-family: $font-b;
        width:50%;

        li{
            text-align: left;
            font-size: 1.5rem;
            margin:1rem;
        }
    }

    ul:nth-of-type(1){
        li{
            color:var(--correct);
        }
    }

    ul:nth-of-type(2){
        li{
            color:var(--wrong);
        }
    }
}

